form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 2rem 0;
}
.title h1 {
    font-size: 7rem;
    color: #457b9d;
}
.button {
    color: #2b2d42;
    border: none;
    width: 4.5rem;
    height: 4.5rem;
    background-color: white;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.05s;
}
.button:hover {
    border: 0.2rem solid #457b9d;   
}

.input-container {
    margin: 5rem 0 2rem 0;
}
.input {
    margin:  0rem 2rem 0 0;
    padding-left: 1rem;
    height: 4rem;
    width: 30rem;
    border: thin;
    border-radius: 1rem;
}
.input:focus {
    outline: none;
}

